[submodule ".travis"]
	path = .travis
	url = https://github.com/jrl-umi3218/jrl-travis
[submodule "tests/shared-tests"]
	path = tests/shared-tests
	url = https://github.com/jrl-umi3218/sch-shared-tests
