name: CI of sch-core

on:
  push:
    paths-ignore:
      - "debian/**"
      - ".github/workflows/package.yml"
      - ".github/workflows/conan.yml"
      - "conan/**"
      - "conanfile.py"
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest, windows-latest]
        build-type: [Debug, RelWithDebInfo]
        compiler: [gcc, clang]
        build-bsd: ['ON', 'OFF']
        exclude:
          # Only default compiler on macos-latest and windows-latest
          - os: macos-latest
            compiler: clang
          - os: windows-latest
            compiler: clang

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      uses: jrl-umi3218/github-actions/install-dependencies@master
      with:
        compiler: ${{ matrix.compiler }}
        build-type: ${{ matrix.build-type }}
        ubuntu: |
          apt: doxygen doxygen-latex libboost-all-dev
        macos: |
          brew: boost
    - name: Build and test
      uses: jrl-umi3218/github-actions/build-cmake-project@master
      with:
        compiler: ${{ matrix.compiler }}
        build-type: ${{ matrix.build-type }}
        options: -DSCH_BUILD_BSD:BOOL=${{ matrix.build-bsd }}
        macos-options: -DCMAKE_CXX_STANDARD=11
    - name: Upload documentation
      # Only run on master branch and for one configuration
      if: matrix.os == 'ubuntu-22.04' && matrix.build-type == 'RelWithDebInfo' && matrix.compiler == 'gcc' && matrix.build-bsd == 'OFF' && github.ref == 'refs/heads/master'
      uses: jrl-umi3218/github-actions/upload-documentation@master
      with:
        GH_USER: gergondet
        GH_PAGES_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
    - name: Slack Notification
      if: failure()
      uses: archive/github-actions-slack@master
      with:
        slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_TOKEN }}
        slack-channel: '#ci'
        slack-text: >
          [sch-core] Build *${{ matrix.os }}/${{ matrix.build-type }}* failed on ${{ github.ref }}
